
.items {
    height: 400px;
    width: 45%;
    background-color: red;
    margin: 1rem;
    width: 45%;
    justify-content: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}